*{
	margin: 0;
	padding: 0;
	font-family: 'Shadows Into Light', cursive;
	color: black;
}
body{
	background-image: url(2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: visible;
	
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;

}
ul li a{
	text-decoration: none;
	color: #75787A  ;
	padding: 5px 20px;
	border: 1px solid transparent;
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px;
	font-size: 
	transition: 0.5s ease;

}
ul li a:hover{
	background-color: #fff;
	color: black;
}
.logo img{
	float: left;
	transform: translate(-60%,0%);
	width: 100px;
	height: auto;
}
.logo a img{
	filter: grayscale(100%);
	transition:  0.4s all;
}
.logo a:hover > img{
	filter: none;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.team{
	overflow: hidden;
	text-align: center;
	padding: 60px;

}
.team h1{
	text-transform: uppercase;
	padding: 40px;
	margin-bottom: 60px;
	color:  #75787A;
	font-size: 50px;
	font-family: 'Shadows Into Light', cursive;
}
.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #75787A;
	margin-bottom: 40px;
}
.ps{
	margin-bottom: 40px;
}
.ps a{
	display:inline-block;
	margin: 2px,30px;
	width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img{
	width: 100%;
	filter: grayscale(100%);
	transition:  0.4s all;
}
.ps a:hover img{
	filter: none;
}
.section{
	font-family: 'Shadows Into Light', cursive;
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: #75787A;
	text-align: justify;
	height: 0;
	overflow: hidden;

	
}
.section:target{
	height: auto;
}
.name{
	display: block;
	margin-bottom: 30px;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;

}

